<button type="button" onclick="javascript:location.href='download'">Download</button>
<form action="upload" method="POST" enctype="multipart/form-data">
<input type="file" name="files" /><br/>
<input type="submit" />
</form>
